.component--cards-group--pictogram {
	margin-left: -1rem;
	margin-right: -1rem;

@media (min-width: 672px){
	display: flex;
	flex-wrap: wrap;

	.bx--card {
		width: 50%;
					padding-right: 0.03125rem;
					padding-left: 0.03125rem;
	}
}

@media (min-width: 1056px){

	.bx--card {
		width: 33.3333%;
	}
}
.bx--card {
		display: flex;
			flex-direction: column;
		margin-bottom: 0.0650rem;
		overflow: hidden;

		&.bx--tile--clickable {
			
			&:hover {
				.bx--card__wrapper {
					background-color: var(--hover-ui);
				}
				
			}

			&:focus {
				outline: 2px solid var(--focus);
				outline-offset: -2px;
			}
		}

		&.bx--card--inverse {
			
			.bx--card__wrapper {
				background-color: var(--ui-03);
				color: var(--text-01);
			}

			&:hover {
				.bx--card__wrapper {
					background-color:var(--hover-ui);
				}
			}

			.bx--card__footer {
				svg {
					fill: var(--link-01);
				}
			}
		}

		&.bx--card--cta {
			.bx--card__wrapper {
				justify-content: space-between;
			}
		}

		.bx--card__wrapper {
			color:  var(--text-01);
			background-color:var(--ui-01);
			padding: 1rem;
			flex-direction: column;
			min-height: 4rem;
			display: flex;
			flex: 1 1 0%;
			transition: background-color 300ms ease-in-out;

					figure {
							margin-bottom: 1rem;
							display: block;

							img {
									max-width: 50%;
							}
					}
		}

			.bx--card__eyebrow {
					font-size: 0.875rem;
					line-height: 1.5;
					color: var(--text-02);
					padding-bottom: 0.5rem;
			}

		.bx--card__heading {
			margin-bottom: 2rem;
			width: 90%;
			max-width: 40rem;
			font-size: 1.25rem;
			line-height: 140%;
					flex-grow: 1;
		}

		.bx--card__footer {
			margin-top: 2rem;

			svg {
				fill: var(--link-01);
			}
		}


}
}