
{# https://www.carbondesignsystem.com/components/accordion/usage #}

{% macro accordion (heading, copy) %}
	<div data-accordion class="component bx--accordion">
	    <div data-accordion-item class="bx--accordion__item">
	      <button class="bx--accordion__heading" aria-expanded="false">
	        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--accordion__arrow" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M11 8L6 13 5.3 12.3 9.6 8 5.3 3.7 6 3z"></path></svg>
	        <div class="bx--accordion__title">{{heading | safe}}</div>
	      </button>
	      <div class="bx--accordion__content">
	        {{copy | safe}}
	      </div>
	    </div>
	</div>
{% endmacro %}