{# https://carbon-design-system.github.io/carbon-charts/?path=/story/intro--welcome #}

{% macro chartContainer (id) %}
	<div data-chart class="component component--chart" >
      <div id="{{id}}"></div>
  </div>
{% endmacro %}
