<p>In 2018, Smukfest joined forces with IBM® Denmark to bring greater sophistication to its data collection and analysis. A group of IBM volunteers, many longtime participants at Smukfest, left the comfort of their offices and spent eight days working in portable containers and camping in the forest alongside festivalgoers. The team’s goal was to collect and analyze festival data and iterate solutions in real time to help build a better fan experience.</p>

<p>“The festival is already on the leading edge,” said Lars B. Pedersen, senior consultant with IBM Global Business Services®, “collecting data about everyone in the audience, including ticketing, purchases, payments, location data, social media, music preferences and weather data.”</p>

{{calloutQuote (
  false,
    "“The festival is already on the leading edge, collecting data about everyone in the audience, including ticketing, purchases, payments, location data, social media, music preferences and weather data.”",
    "",
	"Lars B. Pedersen",
    "Senior consultant",
    "IBM Global Business Services",
    "",
    ""
)}}

<h2>Scores of IBM volunteers bring unprecedented insight to festival operations</h2>

{{video (
  "1_lt3m07zz",
  true
)}}

<p>Even before Smukfest and IBM initiated a working relationship, scores of IBM Denmark employees had volunteered personal time at the festival over several decades. Those informal connections, with IBM employees observing and participating in festival operations, inevitably yielded a deeper understanding of the organization’s information architecture. IBM employees offered suggestions for how IBM solutions could help create a better experience for the audience, helping Smukfest deliver on its strategic vision.</p>


<!--
{{chartContainer("my-bar-chart")}}

{{ accordion (
	"Pellentesque porttitor orci vel nibh porta",
	"Donec metus mi, lobortis ut purus eu, placerat vestibulum tortor. Suspendisse eu malesuada dolor."
)}}

{{ accordion (
	"Suspendisse eu malesuada dolor",
	"Nunc a sem condimentum, pretium magna ac, malesuada quam. Quisque consequat elit et sapien sagittis fringilla. Proin vitae pretium felis. Aenean faucibus tellus sapien, nec sagittis est pretium id."
)}}

{{ accordion (
	"Lorem ipsum dolor sit amet",
	"Suspendisse sollicitudin tortor sed orci facilisis, ac bibendum lacus euismod. Donec tempus augue leo. Sed non luctus diam, ut hendrerit ex. Donec mi nisl, vulputate id diam sed, porta aliquet felis. Praesent a maximus diam, ac mattis metus. Nunc sollicitudin convallis scelerisque. Suspendisse viverra lorem malesuada arcu molestie lacinia. Nunc ac odio nisi."
)}}

<p>Donec metus mi, lobortis ut purus eu, placerat vestibulum tortor. Suspendisse eu malesuada dolor. Pellentesque porttitor orci vel nibh porta hendrerit. Nunc a sem condimentum, pretium magna ac, malesuada quam. Quisque consequat elit et sapien sagittis fringilla. Proin vitae pretium felis. Aenean faucibus tellus sapien, nec sagittis est pretium id.</p>



<p>Donec metus mi, lobortis ut purus eu, placerat vestibulum tortor. Suspendisse eu malesuada dolor. Pellentesque porttitor orci vel nibh porta hendrerit. Nunc a sem condimentum, pretium magna ac, malesuada quam. Quisque consequat elit et sapien sagittis fringilla. Proin vitae pretium felis. Aenean faucibus tellus sapien, nec sagittis est pretium id.</p>

{{standaloneLink (
	"This is a blog link style",
	"https://placeholder.com",
	"blog"
)}}

-->