<h4>Using a data lake to pool information</h4>

<p>If data is the new electricity, Smukfest possesses enough to power a small city. To harness that energy, data must be consolidated and accessible. The IBM team created a data lake to pool relevant information that could be accessed easily by different applications and for different purposes.</p>

{{ image ( 
    'smukfest-3a-768w.jpg', 
    '', 
    '' 
)}}

{{calloutQuote (
  false,
    "“We had this huge amount of data in the forest, but it was in silos. We didn’t have access to all the data or any chance to combine data. We’re not just organizing and analyzing data but combining different kinds of data sets to give us different points of view that can support our decision making.”",
    "",
	"Niels Mørk",
    "CIO",
    "Smukfest",
    "",
    ""
)}}

<p>IBM teams gleaned data from attendee activities, and in compliance with EU General Data Protection Regulation (GDPR), cleansed all digital traces of personal information. With personal information removed, the IBM team could perform sophisticated analytics on the accumulated information without restrictions.</p>

{{ image ( 
    'smukfest-3b-768w.jpg', 
    '', 
    '' 
)}}

<h4>Design thinking promotes more agile organization</h4>

<p>Using design thinking and agile methodology, the IBM team worked around the clock alongside Smukfest organizers to devise a set of use cases to study and solve key organizational challenges. The team collected and analyzed huge troves of data captured during the festival, revealing insights that could yield a better festival experience. Analyses helped reveal attendee food and beverage purchasing patterns, improve crowd safety, indicate audience preferences and address frequently asked questions.</p>

<p>The solutions the teams developed and implemented at Smukfest 2018 delivered a variety of benefits, helping teams envision and design use cases for exploration at the 2019 festival. To collect and analyze festival data, the team used IBM Streaming Analytics for IBM Cloud to prepare data; built databases powered by IBM Compose; captured and stored the data using IBM Cloud™ Object Storage; with IBM Watson® Studio supported data analysis, and IBM Event Streams powered festival apps.</p>

{{ image ( 
    'smukfest-3c-768w.jpg', 
    '', 
    '' 
)}}