<p>Imagine the extraordinary challenge of creating an impromptu city for tens of thousands of devoted music fans on 148 acres of ancient beech forest in the Danish countryside. Sound incredible? Yet this is exactly what Smukfest — “Denmark’s most beautiful festival” — has done for the past four decades.</p>

<p>Founded in 1980 when five young men gathered a few bands and several hundred fans in the forest for a day of music, Skanderborg Music Festival — Smukfest — has become the second largest music festival in Denmark, hosting national favorites and international artists like Eric Clapton, Britney Spears, Shawn Mendez and deadmau5.</p>

{{ image ( 
    'smukfest-1a-768w.jpg', 
    'smukfest-1a', 
    '' 
)}}

{{ image ( 
    'smukfest-1b-768w.jpg', 
    'smukfest-1a', 
    '' 
)}}

<!--
{{ pictogramItem (
	'cloud--data-ops.svg',
	'Image ALT',
	'This is bold body style copy. ',
	'This is the table body style. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in accumsan erat. Sed dignissim mi ultricies risus lacinia, eget dapibus ex commodo. Suspend',
	'This is CTA body (blue) style',
	'https://ibm.com',
	"download"
)}}

{{ pictogramItem (
	'cloud--data-ops.svg',
	'Image ALT',
	'This is bold body style copy. ',
	'This is the table body style. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in accumsan erat. Sed dignissim mi ultricies risus lacinia, eget dapibus ex commodo. Suspend',
	'This is CTA body (blue) style',
	'https://placeholder.com',
	"forward"
)}}
-->

<p>For six weeks every summer, as many as 14,000 dedicated festival volunteers nearly double the population of nearby Skanderborg, readying the site in the forest of Dyrehaven for the arrival of 170 acts and 60,000 jubilant Smukfest fans. A wildly popular event, tickets to the full-week festival sell out in the first hour of sales. Suffused with an atmosphere of free-spirited whimsy — famous for zany events like the Naked Canoe race — Smukfest delivers a welcome escape to peaceful — though highly energized — sylvan surrounds.</p>

<!--
{{featureCard (
	"1x1-375w.jpg",
	"Image ALT",
	"Copy - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et ultricies est. Mauris iaculis eget dolor nec hendrerit.",
	"1",
	"https://placeholder.com",
	"external"
)}}
-->

<p>True to its idealistic origins, the festival is owned and managed by a nonprofit organization comprising many thousands of volunteers who bring this unforgettable event to life every August. The infrastructure is environmentally friendly, the festival establishment socially conscious. All festival bars, shops and installations are crafted from 100 percent recyclable materials, and 20 percent of proceeds fund a national nonprofit to benefit vulnerable people, with special programs focused on loneliness in youth.</p>

{{calloutQuote (
	true,
	"Creating a week-long celebration of “love, life and togetherness” for 60,000 enthused concertgoers — “old and young, CEOs and students, hippies n’ yuppies and everything in between” — is no small feat.",
	"",
	"",
	"",
	"",
	"",
	"",
	""
)}}

<p>Creating a week-long celebration of “love, life and togetherness” for 60,000 enthused concertgoers — “old and young, CEOs and students, hippies n’ yuppies and everything in between” — is no small feat. Festival organizing involves more than booking bands and staging performances. Every logistical challenge posed by the management of a small city — transportation services and traffic management, food and beverage provision, sanitation, lodging and accommodations, communications, security and emergency services, sales and supply chain — must be addressed on site, in real time.</p>

{{ image ( 
    'smukfest-1c-768w.jpg', 
    'smukfest-1c', 
    '' 
)}}

<p>Little did Smukfest founders imagine their modest event in the woods would become an international entertainment venue the size of a small city. As the festival grew, organizers faced increasingly more complex logistical challenges. About a decade ago, Smukfest began implementing a few electronic enhancements to improve festival operations. Web support for lodging helped organizers streamline attendee accommodations; later, the festival added near field communication (NFC) chip bracelets and bartender robots to its digital lineup.</p>

<p>With these and other additions over the years, the festival amassed vast volumes and variety of data about its operations, and especially about attendee behavior. Organizers recognized the key to better festival management lay in uncovering insights buried in vast troves of data generated by participants themselves. These challenges and solutions formed two sides of the same coin: Smukfest planners knew that analyzing this data could simultaneously transform operations and the fan experience.</p>

<p>Though a smooth-running festival requires muscle, sweat and elbow grease, the fuel that powers this engine of free-spirited togetherness is data, and plenty of it.</p>

{{ image ( 
    'smukfest-1d-768w.jpg', 
    'smukfest-1d', 
    '' 
)}}


<!--
{{cardsGroupDefault (
	"Cards group heading 01",
	"Card 1 copy - Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
	"https://ibm.com",
	"forward",

	"Cards group heading 02",
	"Card 2 copy - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et ultricies est. Mauris iaculis eget dolor nec hendrerit. Phasellus at elit sollicitudin, sodales nulla quis, consequat libero.",
	"https://placeholder.com",
	"forward",

	"Cards group heading 03",
	"Card 3 copy - Aenean et ultricies est. Mauris iaculis eget dolor nec hendrerit. Phasellus at elit sollicitudin, sodales nulla quis, consequat libero.",
	"https://ibm.com",
	"forward"
)}}
-->

<!--
{{cardsGroupImage (
	"4x3-375w.jpg",
	"Card 1 Image Alt",
	"Cards group image eyebrow style",
	"Cards group image heading",
	"",
	"",

	"4x3-375w.jpg",
	"Card 2 Image Alt",
	"Cards group image eyebrow style",
	"Cards group image heading",
	"https://placeholder.com",
	"forward",

	"4x3-375w.jpg",
	"Card 3 Image Alt",
	"Cards group image eyebrow style",
	"Cards group image heading",
	"",
	"forward",


	"4x3-375w.jpg",
	"Card 1 Image Alt",
	"Cards group image eyebrow style",
	"Cards group image heading",
	"https://ibm.com",
	"video",

	"4x3-375w.jpg",
	"Card 5 Image Alt",
	"Cards group image eyebrow style",
	"Cards group image heading",
	"https://placeholder.com",
	"external",

	"Cards group image heading",
	"https://ibm.com",
	"blog"
)}}
-->



<!--
{{standaloneLink (
	"This is an external link style",
	"https://placeholder.com",
	"external"
)}}

{{standaloneLink (
	"This is an internal link style",
	"https://ibm.com"
)}}
-->


<!--
{{ citation (
"1",
"Lorem Ipsum",
"September 2040.",
"Lorem ipsum dolor sit amet, consectetur adipiscing elit",
"https://placeholder.com",
"video",
"Placeholder"
)}}


{{ citation (
"2",
"Lorem Ipsum",
"September 2040.",
"Lorem ipsum dolor sit amet, consectetur adipiscing elit",
"https://ibm.com",
"external",
"IBM"
)}}
-->